.body {
  margin: 0;
  padding: 0;
  margin-bottom: 0;

}

.card {
  margin-top: 5%;
  width: 50%;
  height: auto;
  margin-bottom: 0;
}

.avatarUsername {
  display: flex;
  align-items: center;
}

.avatar {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin-right: 0.4rem;
}

.postUsername {
  display: inline;
  font-weight: 600;
  cursor: pointer;
}

.img {
  border-radius: 0px;
  margin-bottom: 0;
}

.text {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  margin-left: 2%;
  font-weight: 600;
}
.text:first-child {
  cursor: pointer;
}
.avatarURL {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-position: top center;
}
.comment {
  font-size: 1rem;
  margin-left: 1%;
  font-weight: 600;
  cursor: pointer;
}
.username {
  margin-left: 1%;
  font-size: 1rem;
}
 .hr{
    padding: 0px;
    margin: 0px;    
  }
.textareaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
}

.textarea {
  resize: none;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1rem;
  border: none;
  flex-grow: 1;
  height: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.post {
  color: #0095f6;
  border: none;
  background-color: inherit;
  outline: none;
  flex-grow: 2;
}
.post:focus {
  outline: none;
}

span {
  font-weight: 600;
  margin-left: 5%;
}

@media screen and (min-width: 360px) and (max-width: 500px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .header {
    background-color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .avatarUsername {
    display: flex;
    align-items: center;
  }
  .text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .avatarURL {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: top center;
  }
  .comment {
    font-size: 0.8rem;
    margin-left: 2%;
    font-weight: 600;
  }
  .username {
    margin-left: 1%;
    font-size: 0.8rem;
    
  }
  .textarea {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 0.8rem;
  }
}
