.text {
    text-align: center;
    font-size: 1.4rem;
}
.body {
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.imgVisible{
    visibility: visible; 
    width: 100%;
    height: 100%;
}
.imgHidden{display: none}

.caption {
    resize: none; 
    height: 100%;   
}
.progressBarDiv {display: flex; justify-content: center}
.progressBarHidden { visibility: hidden }
.progressBarVisible {
    visibility: visible;
    width: 50%;
}

